<h2>Bucket Objects</h2>

<table>

    <thead>
        <tr>
            <td>Name</td>
            <td>Processed?</td>
            <td>Transcribed?</td>
            <td>Trigger Analysis</td>
        </tr>
    </thead>

    <!-- Here, we iterate through all of the items in the cloud object storage and then add -->
    <!-- them as a row to the table for display -->
    <tbody>
        {{#each item}}
        <tr>
            <td>{{this.Key}}</td>
            <td>{{#if this.exists}} Yes {{else}} No {{/if}} </td>
            <td>{{#if this.transcribed}} Yes {{else}} No {{/if}}</td>
            <td> 
                {{#if this.analysing}} 
                    <a href="#" class="analysisTrigger" data-requesting="true" data-objectkey="{{this.Key}}">Processing</a>
                {{else}}
                    <a href="#" class="analysisTrigger" data-requesting="false" data-objectkey="{{this.Key}}">Analyse</a>
                {{/if}}
            </td>
        </tr>
        {{/each}}
    </tbody>

</table>

<script>

</script>